@model Model.TasksModel
@{
    string backgroundColor = "#f4f4f4";
    string canAddTask = "";
    if (Model.stage.isCompleted == "True")
    {
        canAddTask = "disabled";
    }
}
<div class="col-xs-12" style="margin-top:20px; margin-bottom:20px">
    <ul class="todo-list" id="taskList">
    @if (Model.tasks.Count == 0)
    {
        <li>No se ha agredado ninguna tarea</li>
    }
    @foreach (var task in Model.tasks)
    {
        foreach(var taskState in Model.taskStates)
        {
            if (taskState.id_taskState == task.taskState_id)
            {
                backgroundColor = taskState.state_sColor;
            }
        }
        string id_taskName = "taskName" + task.id_task;
        <li id="@task.id_task" style="background-color:@backgroundColor " >
            <span class="handle">
                <i class="fa fa-ellipsis-v"></i>
                <i class="fa fa-ellipsis-v"></i>
            </span>
            <input type="checkbox" value="">
            <span class="text" id="@id_taskName">@Html.Raw(task.name)</span>
            <small class="label label-default"><i class="fa fa-clock-o"></i> @Html.Raw(task.daysAvailable) dias y @Html.Raw(task.hoursAvailable) horas</small>
            <div class="tools" style="display:inline-block">
                <a onclick="showTaskDetails('@task.id_task')">
                    <i class="fa fa-eye"></i>
                </a>
                <a onclick="deleteTask('@task.id_task', '@task.name', this)">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
        </li>
        }
    </ul>
</div>
<div class="col-xs-12">
    <div class="col-xs-offset-9">
        <button class="btn btn-success pull-right" data-toggle="modal" data-target="#modal_addTask" @canAddTask>Agregar tarea</button>
    </div>
</div>

