@model Model.TaskResponsablesModel
@foreach (var user in Model.responsables)
{
    var name = user.name + " " + user.fLastName + " " + user.sLastName;
    string defaultUser = user.email != "" ? user.email : user.userName;
    string backgroundColor = "#f5f5f5";
    if (user.isConfirmed == "True")
    {
        backgroundColor = "#d0e9c6";
    }
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="databox databox-graded" style="margin-bottom:10px">
            <div class="databox-left no-padding">
                <img src="data:Image/png;base64,@user.photoData" style="width:65px; height:65px;">
            </div>
            <div class="databox-right padding-top-0 bg-whitesmoke" style="background-color:@backgroundColor !important">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="@Url.Action("Profile", "Users", new { id = defaultUser})">
                            <div class="col-xs-12" style="margin:0px; padding:0px; padding-top:10px">
                                <div class="databox-text darkgray" style="font-size:14px">@name</div>
                                @if (user.email != "")
                                {
                                    <div class="databox-text darkgray"><i class="fa fa-envelope"></i>@user.email</div>
                                }
                                else
                                {
                                    <div class="databox-text darkgray"><i class="fa fa-envelope"></i>@user.userName</div>
                                }
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <div class="widget-buttons">
                            <a onclick="deleteResponsableUser('@user.user_id','@Model.id_task', '@name',this)" style="cursor:pointer">
                                <i class="fa fa-times danger"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
