@model Model.TaskResponsablesModel
@{
    string disabled = "disabled";
    if (Model.task.taskState_id == "0")
    {
        disabled = "";
    }
}

@foreach (var user in Model.responsables)
{
    var name = user.name + " " + user.fLastName + " " + user.sLastName;
    string defaultUser = user.email != "" ? user.email : user.userName;
    string backgroundColor = "#f5f5f5";
    if (user.isConfirmed == "True")
    {
        backgroundColor = "#d0e9c6";
    }
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="databox databox-graded" style="margin-bottom:10px">
            <div class="databox-left no-padding">
                <a href="@Url.Action("Profile", "Users", new { id = defaultUser})">
                    <img src="data:Image/png;base64,@user.photoData" style="width:65px; height:65px;">
                </a>
            </div>
            <div class="databox-right padding-top-0 bg-whitesmoke" style="background-color:@backgroundColor !important">
                <div class="row">
                    @if (disabled == "")
                    {
                        <div class="databox-stat danger radius-bordered" onclick="deleteResponsableUser('@user.user_id','@Model.task.id_task', '@name',this)" style="cursor:pointer">
                            <i class="stat-icon fa fa-times danger"></i>
                        </div>
                    }
                    <a href="@Url.Action("Profile", "Users", new { id = defaultUser})">
                        <div class="col-xs-10" style=" padding-top:10px">
                            <div class="databox-text darkgray truncate-text" style="font-size:14px; ">@name   </div>
                            <div class="databox-text darkgray truncate-text"><i class="fa fa-envelope"></i>@defaultUser</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
