@model Model.FormQuestionsModel

<h2>Formulario
    <span data-toggle="modal" data-target="#modal_EditTaskForm">
        <button class="btn btn-sky btn-sm" style="margin-left:10px" type="submit" data-toggle="tooltip" data-placement="top" title="Editar">
            <span class="fa fa-pencil"></span>
        </button>
    </span>
</h2>
<div class="row" style="margin-top:30px;margin-bottom:10px">
    <div class="col-xs-12">
        <h5 id="formDescription">
            Descripción: @Html.Raw(Model.taskForm.description)
        </h5>
    </div>
</div>
<div class="row" style="margin-top:30px;">
    <div class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs tabs-flat" id="myTab7">
                <li class="active">
                    <a data-toggle="tab" href="#questions-tab">
                        Preguntas
                    </a>
                </li>
                <li class="tab-red">
                    <a data-toggle="tab" href="#formUsers-tab">
                        Dirigido a
                    </a>
                </li>
            </ul>
            <div class="tab-content tabs-flat">
                <div id="questions-tab" class="tab-pane in active">
                    <div class="flip-scroll">
                        <table class="table flip-content table-hover" id="table-questions">
                            <!-- column titles -->
                            <thead class="flip-content ">
                                <tr>
                                    <th></th>
                                    <th>Pregunta</th>
                                    <th>Tipo</th>
                                    <th>Requerido</th>
                                    <th>Datos</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody id="taskForm">
                                <!-- Table data-->
                                @{ Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_TaskQuestions.cshtml", Model);}
                                <tr>
                                    <td></td>
                                    <td style="width:45%">
                                        @using (Ajax.BeginForm("_AddTaskQuestion", "Task", new AjaxOptions { HttpMethod = "POST", OnSuccess = "TaskQuestionAddedSuccess", OnFailure = "TaskQuestionAddedFailure" }, new { id = "form-addTaskQuestion" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(m => m.id_taskFormA, new { @form = "form-addTaskQuestion" })
                                            @Html.HiddenFor(m => m.id_taskA, new { @form = "form-addTaskQuestion" })
                                            @Html.HiddenFor(m => m.maxQuestionPositionA, new { @form = "form-addTaskQuestion" })
                                        }
                                        @Html.TextBoxFor(model => model.questionA, new { @class = "form-control", @type = "text", @form = "form-addTaskQuestion" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.selected_questionType_idA, Model._QuestionTypesSelect, new { @class = "", @form = "form-addTaskQuestion", @onChange = "onQuestionTypeChanged(this)" })
                                        @Html.DropDownListFor(model => model.selected_attribute_idA, Model._AttributesSelect, new { @class = "", @form = "form-addTaskQuestion", @style = "display:none" })
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="checkbox" style="margin:0px">
                                                <label style="margin-left:15px">
                                                    <input type="checkbox" class="colored-success" name="isRequired" id="isRequired" form="form-addTaskQuestion">
                                                    <span class="text"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:5%">
                                        <button class="btn btn-sky btn-sm" style="margin-right:10px" type="button" data-toggle="tooltip" data-placement="top" title="Cambios en datos">
                                            <span class="fa fa-cog"></span>
                                        </button>
                                    </td>
                                    <td style="width:5%">
                                        <button class="btn btn-success btn-sm" style="margin-left:2rem" type="submit" data-toggle="tooltip" data-placement="top" title="Agregar" , form="form-addTaskQuestion">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                
                </div>
                <div id="formUsers-tab" class="tab-pane">
                    @{ Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_TaskFormUsers.cshtml", new Model.AddFormUsersModel(Model.taskDTO, Model.taskForm));}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal to edit description -->
@{ Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_EditForm.cshtml", new Model.EditTaskForm(Model.taskForm));}

                       
