@using BeyondThemes.BeyondAdmin.Models

@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    ViewBag.Description = "Inicio de sesión";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="login-container animated fadeIn" style="margin: 5% auto;">
    <div class="row" style="margin-bottom:15px">
        <div class="col-md-12">
            <img alt="image" class="img-responsive" src="~/assets/img/logoMBC.png">
        </div>
    </div>
    <div class="loginbox bg-white">
        <div class="loginbox-title">Inicio de Sesión</div>
        <div class="loginbox-or">
            <div class="or-line"></div>
        </div>
        @using (var form = Html.Bootstrap().Begin(new Form().Type(FormType.Vertical)))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="loginbox-textbox">
                @Html.Bootstrap().TextBoxFor(t => t.Email).Placeholder("Correo o usuario")
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-textbox">
                @Html.Bootstrap().PasswordFor(t => t.Password).Placeholder("Contraseña")
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
                <div class="loginbox-forgot">
                    <a href="" data-toggle="modal" data-target="#modal_passwordForgotted">Olvidó la contraseña?</a>
                </div>
            <div class="loginbox-submit">
                @Html.Bootstrap().SubmitButton().Text("Iniciar sesión").Color(BootstrapColors.Primary).ButtonBlock()
            </div>
        }
    </div>
    <div class="logobox">
    </div>
</div>

@{ Html.RenderPartial("/Views/Account/_ForgotPassword.cshtml", new Model.PasswordForgottedModel()); }
@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function PasswordChangedSuccess(content) {
            $.alert({
                title: 'Recuperación de contraseña',
                content: 'Se ha enviado un correo con su contraeña',
                confirmButton: 'Cerrar'
            });
        }
        function PasswordChangeFailure(content) {
            $.alert({
                icon: 'fa fa-warning',
                title: 'Recuperación de contraseña',
                content: 'El correo no pertenece a ningun usuario',
                confirmButton: 'Cerrar'

            });
        }
    </script>

}