
@model Model.AddGroupModel


<!-- Modal to add user group-->
<div class="modal fade" id="modal_addParticipantUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="top:10%;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("_AddProcessGroup", "Templates", new AjaxOptions { HttpMethod = "POST", OnSuccess = "GroupAddedSuccess", OnFailure = "GroupAddedFailure" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Agregar integrantes</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.HiddenFor(m => m.process_id)
                            <div class="form-group">
                                @Html.LabelFor(model => model.selected_groups_id)
                                @Html.DropDownListFor(m => m.selected_groups_id, Model._GroupsSelect, new { @class = "form-control", @style = "width:100%", @multiple = "multiple" })
                                @Html.ValidationMessageFor(m => m.selected_groups_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div>
