@model Model.TemplateModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.Title = "Plantilla Solicitud Vacaciones";
    ViewBag.Description = "Solicitud Vacaciones";
    string name = Model.userDTO.name + " " + Model.userDTO.fLastName + " " + Model.userDTO.sLastName;
    string createdDate = Model.templateDTO.createdDate.Substring(0, 10);
}
<div class="row">
    <div class="col-xs-12">
        <div class="widget radius-bordered">
            @using (Ajax.BeginForm("_DeleteTemplate", "Templates", new AjaxOptions { HttpMethod = "DELETE", OnSuccess = "TemplateDeletedSuccess", OnFailure = "TemplateDeletedFailure" }))
            {
            string id_template = Model.templateDTO.id_processManagment;
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => id_template)
            <div class="widget-header">
                <span class="widget-caption">Plantilla @Html.Raw(Model.templateDTO.name)</span>
                <div class="widget-buttons">
                    <button class="btn btn-sky btn-sm" data-toggle="modal" data-target="#modal_EditTemplate" type="button">Editar</button>
                </div>
                <div class="widget-buttons">
                    <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
                </div>
            </div><!--Widget Header-->
            }
            <div class="widget-body">
                <div class="row" style="font-size:14px; margin-top:25px; margin-bottom:10px">
                    <div class="col-xs-12">
                        <div class="col-md-4">
                            <dl class="dl-horizontal">
                                <dt>Creado por</dt><dd>@Html.Raw(name)</dd>
                                <dt>Creado</dt><dd>@Html.Raw(createdDate)</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-main ">
                            @using (var tabs = Html.Bootstrap().Begin(new Tabs("FlatTab").Flat()))
                            {
                                tabs.Tab("Etapas");
                                tabs.Tab("Participantes");
                                <!-- Etapas -->
                                using (tabs.BeginPanel())
                                {
                                    <div class="row">
                                        <div class="col-xs-12" style="margin-bottom:10px">
                                            <h3>Etapas</h3>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-xs-12" id="StagesListDiv">
                                            @{ Html.RenderPartial("/Views/Templates/_Template/_Stages/_StagesList.cshtml", new Model.StagesListModel(Model.templateDTO.id_processManagment));}
                                        </div>
                                    </div>
                                }
                                <!-- Participantes -->
                                using (tabs.BeginPanel())
                                {
                                    <div class="row" style="margin-bottom:30px">
                                        <!-- search bar -->
                                        <div class="col-md-6 col-xs-8">
                                            <span class="input-icon">
                                                <input type="text" class="form-control" id="glyphicon-search" placeholder="Buscar" onkeyup="filterParticipantsUsers(this)">
                                                <i class="glyphicon glyphicon-search blue"></i>
                                            </span>
                                        </div>
                                        <div class="col-lg-offset-3 col-lg-3 col-md-offset-2 col-md-4 col-xs-4">
                                            <div class="col-xs-6">
                                                <button class="btn btn-success" style="float:right" data-toggle="modal" data-target="#modal_addGroupParticipants">
                                                    <span class="visible-xs"><i class="fa fa-users"></i></span>
                                                    <span class="hidden-xs">Agregar grupo</span>
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button class="btn btn-success" style="float:right" data-toggle="modal" data-target="#modal_addParticipantUser">
                                                    <span class="visible-xs"><i class="fa fa-user"></i></span>
                                                    <span class="hidden-xs">Agregar integrante</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" id="participantsListDiv">
                                            @{ Html.RenderPartial("/Views/Templates/_Template/_Participants/_TemplateParticipantsList.cshtml", new Model.ParticipantsModel(Model.templateDTO.id_processManagment));}
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>
</div>
<!-- Modal to add a user -->
@{ Html.RenderPartial("/Views/Templates/_Template/_Participants/_AddParticipantUser.cshtml", new Model.AddParticipantUserModel(Model.templateDTO.id_processManagment));}
<!-- Modal to add a group -->
@{ Html.RenderPartial("/Views/Templates/_Template/_Participants/_AddGroup.cshtml", new Model.AddGroupModel(Model.templateDTO.id_processManagment));}
<!-- Modal to edit template name -->
@{ Html.RenderPartial("/Views/Templates/_Template/_EditTemplate.cshtml", new Model.EditTemplateModel(Model.templateDTO));}


@section PageScripts{
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="/assets/js/select2/select2.js"></script>
<!--Bootstrap Tags Input-->
<script src="/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
<script>
    // Template edited 
    function TemplateEditedSuccess(content) {
        Notify("Se ha editado la plantilla con éxito", 'bottom-right', '8000', 'success', 'fa-edit', true);
        $('.widget-caption').text("Plantilla "+content)
    }
    function TemplateEditedFailure(content) {
        Notify("Error, no se edito la plantilla", 'bottom-right', '5000', 'danger', 'fa-edit', true);
    }
    //-- Template deleted
    function TemplateDeletedSuccess(content) {
        Notify("La plantilla ha sido eliminada con éxito", 'bottom-right', '5000', 'success', 'fa-edit', true);
        window.location.href = "/Templates";
    }
    function TemplateDeletedFailure(content) {
        Notify("Error, no se puede borrar la plantilla", 'bottom-right', '5000', 'danger', 'fa-edit', true);
    }
</script>
<script src="~/Scripts/Templates/Template/Participants.js"></script>
<script src="~/Scripts/Templates/Template/Stages.js"></script>
}