@model Model.ScriptsModel
@{ 
    var count = 0;
}
@foreach (var script in Model.scriptsLog)
{
    if (count < 15)
    {
        <tr>
            <td width="20%">
                <span class="truncate-text">@Html.Raw(script.ejecutedBy_name)</span>
            </td>
            <td width="15%">@Html.Raw(script.ejecutedDate)</td>
            <td>
                @if (script.script.Length > 40)
                {
                    <span class="truncate-text">@Html.Raw(@script.script.Substring(0,40) + "...")</span>
                }
                else
                {
                    <span class="truncate-text">@Html.Raw(script.script)</span>
                }
            </td>
            <td width="10%"><a class="btn btn-sky btn-sm" onclick="reexecuteScript('@script.script', this)"><i class="fa fa-play"></i>	&nbsp;	&nbsp; Ejecutar </a></td>
        </tr>
    }
    count++;
}
