@model Model.EditTaskForm
<!-- Modal to edit template name-->
<div class="modal fade" id="modal_EditTaskForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="top:10%;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("_EditTaskForm", "Tasks", new AjaxOptions { HttpMethod = "PUT", OnSuccess = "TaskFormEditedSuccess", OnFailure = "TaskFormEditedFailure" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar formulario</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.HiddenFor(m => m.id_taskForm)
                            <div class="form-group">
                                @Html.LabelFor(model => model.description)
                                @Html.TextAreaFor(model => model.description, new { @class = "form-control", @rows="3" })
                                @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div>