@model Model.TaskChangesModel
@{ 
    string idForm = "form-addTaskChange";
}
<h2>Cambios a realizar</h2>
<div class="row">
    <div class="col-xs-12">
        <div class="flip-scroll">
            <table class="table flip-content table-hover">
                <!-- column titles -->
                <thead class="flip-content ">
                    <tr>
                        <th>Atributo</th>
                        <th>Operación</th>
                        <th>Valor</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="taskForm">
                    <!-- Table data-->
                    @{Html.RenderPartial("/Views/Templates/_Tasks/_TaskDetails/_TaskDataChangesList.cshtml", Model);}
                    <tr>
                        <td>
                            @using (Ajax.BeginForm("_AddTaskChange", "Tasks", new AjaxOptions { HttpMethod = "POST", OnSuccess = "TaskQuestionAddedSuccess", OnFailure = "TaskQuestionAddedFailure" }, new { id = "form-addTaskQuestion", form=@idForm}))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.task_id, new { @form = idForm })
                            }
                            @Html.DropDownListFor(model => model.attribute_id, Model.attributesList, new { @class = "form-control", @form = idForm, @onChange = "onQuestionTypeChanged(this)" })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.attribute_id, Model.operationTypesList, new { @class = "", @form = idForm, @onChange = "onQuestionTypeChanged(this)" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.value, new { @class="form-control"})
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" style="margin-left:2rem" type="submit" data-toggle="tooltip" data-placement="top" title="Agregar" , form=@idForm>
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
