@model Model.TaskChangesModel

@foreach (var taskChange in Model.taskChanges)
{
    string idForm = "form-editTaskChange"+taskChange.id_taskChange;
    List<SelectListItem> _OperationTypesListSelectList = new List<SelectListItem>();
    SelectList _SelectOperationTypes;
    foreach (DataTransferObjects.OperationTypeDTO iOperationType in Model.operationTypes)
    {
        _OperationTypesListSelectList.Add(new SelectListItem { Text = iOperationType.displayName, Value = iOperationType.id_operationType});
    }
    _SelectOperationTypes = new SelectList(_OperationTypesListSelectList, "Value", "Text", taskChange.operation_id);
<tr>
    <td>
        @using (Ajax.BeginForm("_EditTaskChange", "Tasks", new AjaxOptions { HttpMethod = "PUT", OnSuccess = "TaskChangeEditedSucces", OnFailure = "TaskChangeEditedFailure" }, new { id = @idForm }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("id_taskChange",taskChange.id_taskChange, new {@form = idForm })
            @Html.Hidden("attributeList_type", taskChange.attributeList_type, new { @form = idForm })
            @Html.Hidden("attribute_type", taskChange.attribute_type, new { @form = idForm })
        }
        <select class="form-control" name="attribute_id" form="@idForm">
            <optgroup label="Generales">
                @foreach (var iAttribute in Model.attributes)
                {
                    string isSelected = iAttribute.id_attribute == taskChange.attribute_id ? "selected" : "";
                    if (iAttribute.type_id != "4" && iAttribute.isGeneral == "True")
                    {
                        string id_GeneralAttribute = "g" + iAttribute.id_attribute;
                        <option value="@id_GeneralAttribute" @isSelected>@iAttribute.name</option>
                    }
                }
            </optgroup>
            @foreach (var iAttribute in Model.attributes)
            {
                if (iAttribute.type_id == "4" && iAttribute.isGeneral == "True")
                {
                    List<DataTransferObjects.AttributeListDTO> listAttributes = Model.categorieProvider.getAttributesList(iAttribute.id_attribute).Result;
                    if (listAttributes.Count != 0)
                    {
                        <optgroup label="@iAttribute.name">
                            @foreach (var iAttributeValue in listAttributes)
                            {
                                string isSelected = iAttributeValue.id_attributeValue == taskChange.attributeList_id ? "selected" : "";
                                string id_listAttribute = "l" + iAttributeValue.id_attributeValue;
                                <option value="@id_listAttribute" @isSelected>@iAttributeValue.name</option>
                            }
                        </optgroup>
                    }
                }
            }
        </select>
    </td>
    <td>
        @Html.DropDownList("operation_id", _SelectOperationTypes, new { @class = "form-control", @form = idForm })
    </td>
    <td>
        @Html.TextBox("value",taskChange.value, new { @class = "form-control", @form = @idForm })
    </td>
    <td style="width:12%">
        <button class="btn btn-sky btn-sm" style="margin-right:10px" data-toggle="tooltip" data-placement="top" title="Guardar" type="submit" form="@idForm">
            <span class="glyphicon glyphicon-floppy-saved"></span>
        </button>
        <a class="btn btn-danger btn-sm btn-remove" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="deleteTaskChange('@taskChange.id_taskChange',this)">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
    </td>
</tr>
}

