@model Model.EditStageModel
@{ 
    string id_modal = "modal_editStage" + Model.id_stage;
}
<!-- Modal to edit template name-->
<div class="modal fade" id="@id_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="top:10%;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("_EditStage", "Templates", new AjaxOptions { HttpMethod = "PUT", OnSuccess = "StageUpdatedSuccess", OnFailure = "StageUpdatedFailure" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar etapa</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.HiddenFor(m => m.id_stage)
                            @Html.HiddenFor(m => m.stagePosition)
                            <div class="form-group">
                                @Html.LabelFor(model => model.name)
                                @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div>
