@model Model.ListUserFilesModel
<div class="row">
    <div class="col-xs-12">
        <!-- Button to add file-->
        <div class="row" style="margin-bottom:15px">
            <button class="btn btn-success" style="float:right; margin-right:5%" data-toggle="modal" data-target="#modal_addUserFile">Agregar archivo</button>
        </div>
        <!-- List of files -->
        <div class="flip-scroll">
            <table class="table flip-content table-hover">
                <!-- column titles -->
                <thead class="flip-content bordered-primary">
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th> Ver</th>
                        <th>Descargar</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table data-->
                    @foreach (var file in Model.filesList)
                    {
                        string imgURL = "data:" + file.fileType + ";base64," + file.fileBase64;
                        <tr>
                            <td>@file.name</td>
                            <td>@file.createdDate.Substring(0, 10)</td>
                            <td>@file.description</td>
                            <td style="width:7%"><a class="btn btn-sky" href="@imgURL"><i class="fa fa-eye"></i></a></td>
                            <td style="width:7%"><a class="btn btn-sky" href="@imgURL" download="@file.fileName"><i class="fa fa-download"></i></a></td>
                            <td style="width:7%"><button class="btn btn-danger" onclick="deleteUserFile('@file.id_file','@file.name',this)"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>    
    </div>
</div>

@{ Html.RenderPartial("/Views/Users/_Profile/_AddUserFile.cshtml", new Model.AddFileModel(Model.user_id));}
