@model Model.ProcessesModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.Title = "Processes Managment";
    ViewBag.Description = "Processes Managment";
}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header">
                <span class="widget-caption">Lista de gestiones disponibles</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_newProccess" >Nueva gestión</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <!-- Filter area -->
                        <div class="row" style="margin-bottom:40px">
                            <div class="col-md-6">
                                <!-- search bar -->
                                <div style="margin-top:20px">
                                    <span class="input-icon">
                                        <input type="text" class="form-control" id="glyphicon-search" placeholder="Buscar" onkeyup="filterProcess(this.value)">
                                        <i class="glyphicon glyphicon-search blue"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select class="form-control" id="selectCategories">
                                            <option value="-1">Todos</option>
                                            @foreach (var categorie in Model.categories)
                                            {
                                                <option value="@categorie.id_categorie">@categorie.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Plantilla</label>
                                        <select class="form-control" id="selectTemplates">
                                            <option value="-1">Todos</option>
                                            @foreach (var template in Model.templates)
                                            {
                                                <option value="@template.categorie_id">@template.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select class="form-control" id="selectTaskStates">
                                            <option value="-1">Todos</option>
                                            @foreach (var taskState in Model.taskStates)
                                            {
                                                <option value="@taskState.id_taskState">@taskState.state_name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Table -->
                        <div class="flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content table-hover" id="table-processes">
                                <!-- column titles -->
                                <thead class="flip-content bordered-palegreen">
                                    <tr>
                                        <th>ID</th>
                                        <th>Estado</th>
                                        <th>Gestión </th>
                                        <th>Completado</th>
                                        <th>Categoria</th>
                                        <th>Plantilla</th>
                                        <th>Participantes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Table data-->
                                    @*@{ 
                                        Model.ProcessListModel processListModel = new Model.ProcessListModel();
                                        processListModel.actualUser = Request.Cookies["user_id"].Value;
                                        Html.RenderPartial("/Views/Processes/_Index/_ProcessList.cshtml", processListModel);
                                    }*@
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-xs-12">
                        <div id="pagingControls" style="float:right;margin-right:30px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal to add process-->
@{ Html.RenderPartial("/Views/Processes/_Index/_AddProcess.cshtml", new Model.AddProcessModel("_AddProcess",""));}
@section PageScripts{
<script src="~/Scripts/Process/_Index.js"></script>
<script src="~/Scripts/Process/_AddProcess.js"></script>
}