@model Model.UserModel
@{
    var name = Model.user.name + " " + Model.user.fLastName + " " + Model.user.sLastName;
    ViewBag.Title = "Perfil "+name;
    ViewBag.Description = "Perfil " + name;
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="profile-container">
            <div class="profile-header row">
                <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                    <img src=@Model.imageURL class="header-avatar avatar" />
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12 profile-info">
                    <div class="header-fullname">@name</div>
                    <div class="header-information">
                       @Model.user.userName <br /> @Model.user.email <br /> @Model.user.birthdate
                    </div>
                </div>
                <div class= "col-lg-2">
                </div>
            </div>
            <div class="profile-body">
                <div class="col-lg-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                            <li class="active">
                                <a data-toggle="tab" href="#personalInformation">
                                    Información Personal
                                </a>
                            </li>
                            <li class="tab-palegreen">
                                <a data-toggle="tab" href="#files">
                                    Archivos
                                </a>
                            </li>
                            <li class="tab-palegreen">
                                <a data-toggle="tab" id="contacttab" href="#data">
                                    Datos
                                </a>
                            </li>
                            <li class="tab-palegreen">
                                <a data-toggle="tab" href="#activity">
                                    Actividad
                                </a>
                            </li>
                            <li class="tab-red">
                                <a data-toggle="tab" href="#settings">
                                    Configuración
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tabs-flat">
                            <div id="personalInformation" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="profile-contacts">
                                                <div class="profile-badge orange"><i class="fa fa-phone orange"></i><span>Contacto</span></div>
                                                <div class="contact-info">
                                                    <p>
                                                        Phone	: @Model.user.phoneNumber <br>
                                                        <!--Cell		: +1 9 876 5432 <br />-->
                                                        Email		: @Model.user.email<br>
                                                        <!--Skype		: kim.ryder-->
                                                        @Model.user.id<br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="profile-contacts">
                                                <div class="profile-badge azure">
                                                    <i class="fa fa-map-marker azure"></i><span>Residencia</span>
                                                </div>
                                                <div class="contact-info">
                                                    <p>
                                                        @Model.user.province_name<br>
                                                        @Model.user.canton_name<br>
                                                        @Model.user.direction<br>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div id="files" class="tab-pane">
                                <div class="row">
                                    <div class="col-xs-12">
                                        @{Html.RenderPartial("/Views/Users/_ProfileFiles.cshtml", new Model.ListUserFilesModel(Model.userName));}
                                    </div>
                                </div>
                            </div>
                            <div id="data" class="tab-pane">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="widget">
                                            <div class="widget-header bordered-bottom bordered-blue">
                                                <span class="widget-caption">Categorías</span>
                                                <div class="widget-buttons">
                                                    <a href="#" data-toggle="maximize">
                                                        <i class="fa fa-expand blue"></i>
                                                    </a>
                                                    <a href="#" data-toggle="collapse">
                                                        <i class="fa fa-minus warning"></i>
                                                    </a>
                                                    <a href="#" data-toggle="dispose">
                                                        <i class="fa fa-times danger"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="widget-body no-padding">
                                                <div class="widget-main ">
                                                    @using (var a = Html.Bootstrap().Begin(new Accordion("Accordion1").ActivePanel(1)))
                                                    {
                                                        using (a.BeginPanel("Vacaciones"))
                                                        {
                                                            <span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</span>
                                                        }
                                                        using (a.BeginPanel("Activos"))
                                                        {
                                                            <span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</span>
                                                        }
                                                        using (a.BeginPanel("Constancias"))
                                                        {
                                                            <span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</span>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="settings" class="tab-pane">
                                <div class="row">
                                    <div class="col-xs-12">
                                        @{Html.RenderPartial("/Views/Users/_ProfileConfig.cshtml", Model); }
                                    </div>
                                </div>
                            </div>
                            <div id="activity" class="tab-pane">
                                <div class="row">
                                    <div class="col-xs-12">
                                        @{Html.RenderPartial("/Views/Users/_ProfileActivity.cshtml"); }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
<script>
    function downloadFile(base64, fileType, fileName) {
        download("data:"+fileType+";base64,"+base64, fileName, fileType);
    }
    function CompletedFormRegister(data) {
        Notify('El usuario se ha registrado con éxito', 'bottom-right', '5000', 'success', 'fa-edit', true);
    }
    function onSuccessAddRole(data) {
        Notify('El rol se ha añadido con éxito', 'bottom-right', '5000', 'success', 'fa-edit', true);
        var rolesTab = $('#roles-tab');
        rolesTab.empty();
        rolesTab.html(data);
    }
    function onFailureAddRole(data) {
        Notify('Error, no puede añadir el rol', 'bottom-right', '5000', 'danger', 'fa-edit', true);
    }
    function deleteUserRole(user_id, id_role, name, self) {
        var toolbarLink = $(self);
        var widget = toolbarLink.parents(".widget").eq(0).parent();
        var disposeinterval = 300;
        $.ajax({
            url: "/Users/_DeleteUserRole/?user_id=" + user_id + "&id_role=" + id_role,
            type: "DELETE",
            dataType: "html",
            traditional: true,
            contentType: false,
            success: function (data) {
                Notify("El rol '"+name+"' ha sido borrado", 'bottom-right', '5000', 'success', 'fa-edit', true);
                widget.hide(disposeinterval, function () {
                    widget.remove();
                });
            },
            error: function () {
                Notify("Error, no se puede borrar el rol '"+name+"'", 'bottom-right', '5000', 'danger', 'fa-edit', true);
            }
        });
    }
    function deleteUserFile(id_file, name, self) {
        var btnColumn = $(self);
        var row = btnColumn.parents("tr").eq(0).parent();
        var disposeinterval = 300;
        $.ajax({
            url: "/Users/_DeleteUserFile/?id_file=" + id_file,
            type: "DELETE",
            dataType: "html",
            traditional: true,
            contentType: false,
            success: function (data) {
                Notify("El archivo '" + name + "' ha sido borrado", 'bottom-right', '5000', 'success', 'fa-edit', true);
                row.hide(disposeinterval, function () {
                    row.remove();
                });
            },
            error: function () {
                Notify("Error, no se puede borrar el archivo '" + name + "'", 'bottom-right', '5000', 'danger', 'fa-edit', true);
            }
        });
    }
</script>
<script>
    function uploadPhoto(userName) {
        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {
            var fileUpload = $("#FileUpload1").get(0);
            var files = fileUpload.files;
            var fileData = new FormData();
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            $.ajax({
                url: '/Users/UploadPhoto?user='+userName,
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    alert(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    };
</script>  
<script>
    // script to change the content on cantones select
    $(document).ready(function () {
        $('#province_id').change(function () {
            console.log("ok");
            var id = $("#province_id").val();
            $.ajax({
                url: '@Url.Action("getCantones", "Users")',
                type: 'get',
                data: { "pProvinceID": id },
                success: function (json, textStatus) {
                    console.log("ok")
                    $("#canton_id").empty();
                    json = json || {};
                    for (var i = 0; i < json.length; i++) {
                        $("#canton_id").append('<option value="' + json[i].id + '">' + json[i].name + '</option>');
                    }
                    $("#canton_id").prop("disabled", false);
                }
            });
        });
    });
</script>
<!--Jquery Select2-->
<script src="/assets/js/select2/select2.js"></script>
<!--Bootstrap Tags Input-->
<script src="/assets/js/tagsinput/bootstrap-tagsinput.js"></script>

<script>
        //--Jquery Select2--
    $("select#selectedRole").select2();
</script>
}

