@model Model.GroupsListModel

<div class="row">
    <div class="col-xs-12">
        <div class="row" style="margin-bottom:30px">
            <!-- search bar -->
            <div class="col-lg-6 col-md-8 col-xs-10">
                <span class="input-icon">
                    <input type="text" class="form-control" id="groupSearch" placeholder="Buscar" onkeyup="filterGroups(this.value)">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="col-lg-offset-5 col-lg-1 col-md-4 col-xs-2">
                <button class="btn btn-success btn-block" data-toggle="modal" data-target="#modal_addGroup">
                    <span class="visible-xs"><i class="fa fa-plus"></i></span>
                    <span class="hidden-xs">Crear grupo</span>
                </button>
            </div>
        </div>
        <div class="row" id="groupList">
            @for (int iGroup = 0; iGroup != Model.groupsList.Count; iGroup++)
            {
                List<DataTransferObjects.UserDTO> groupUsers = Model.groupProvider.getGroupMembers(Model.groupsList[iGroup].id_group).Result;
                string id_group = "groupBox" + iGroup.ToString();
                <div class="groupWidget">
                    <div class="col-md-4 col-xs-12 visible groupBox" id="@id_group" style="display:block">
                        <div class="widget radius-bordered">
                            <div class="widget-header bordered-left bordered-blueberry">
                                <a href="@Url.Action("Group","Users",new { id = Model.groupsList[iGroup].id_group })" style="text-align:left; float:left; color:#555555; margin-top:8px">
                                    <span class="widget-caption">
                                        <strong>@Model.groupsList[iGroup].groupName</strong>
                                        @if (groupUsers.Count == 1)
                                        {
                                            @: <span style="color:#999; font-size:10px">&nbsp; &nbsp; @groupUsers.Count miembro...</span>
                                        }   
                                        else
                                        {
                                            @: <span style="color:#999; font-size:10px">&nbsp; &nbsp; @groupUsers.Count miembros...</span>
                                        } 
                                    </span>
                                </a>
                                <div class="widget-buttons">
                                    <a href="#" onclick="deleteGroup('@Model.groupsList[iGroup].id_group','@Model.groupsList[iGroup].groupName',this)">
                                        <i class="fa fa-times danger"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body bordered-left bordered-blueberry">
                                <div class="row" style="margin-top:15px">
                                    @for (int iUser = 0; iUser < 5 && iUser != groupUsers.Count; iUser++)
                                    {
                                        var name = groupUsers[iUser].name + " " + groupUsers[iUser].fLastName + " " + groupUsers[iUser].sLastName;
                                        <div class="col-xs-2" data-toggle="tooltip" data-placement="top" title="@name">
                                            <img alt="image" class="img-circle img-responsive" src="data:Image/png;base64,@groupUsers[iUser].photoBase64">
                                        </div>
                                    }
                                    @if (groupUsers.Count > 5)
                                    {
                                        <div class="col-xs-1">
                                            <p style="col-">....</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div id="pagingControlsGroups" style="float:right;margin-right:30px">
            </div>
        </div>
    </div>
</div>    
