@model Model.AddProcessModel
<!-- Modal to add process-->
<div class="modal fade" id="modal_newProccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        @using (Ajax.BeginForm(Model.ajaxAction, "Processes", new AjaxOptions { HttpMethod = "POST", OnSuccess = "ProcessAddedSuccess", OnFailure = "ProcessAddedFailure" }))
        {
            @Html.AntiForgeryToken()
            if (Model.bifurcateProcess_id != "")
            {
                @Html.HiddenFor(m => m.bifurcateProcess_id);
            }
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Nueva Gestión</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Nombre de la gestión</label>
                                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", @placeholder = "" })
                                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.categorie_id)
                                        @Html.DropDownListFor(m => m.categorie_id, Model._CategoriesSelect, new { @class = "form-control", @style = "width:100%", @onchange = "onCategoriesSelectChanged()" })
                                        @Html.ValidationMessageFor(m => m.categorie_id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.template_id)
                                        @Html.DropDownListFor(m => m.template_id, Model._TemplatesSelect, new { @class = "form-control", @style = "width:100%" })
                                        @Html.ValidationMessageFor(m => m.template_id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Crear</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>