@model Model.ProcessListModel

@foreach (var process in Model.processesDTO)
{
    int completedPorcentage = 0;
    if (process.totalTasks != "0")
    {
        completedPorcentage = Int32.Parse(process.completedTasks) * 100 / Int32.Parse(process.totalTasks);
    }
    List<DataTransferObjects.ParticipantDTO> participants = Model.getParticipants(process.id_processManagment);
    bool isProcessMember = false;
    foreach (var participant in participants)
    {
        if (participant.user_id == Model.actualUser)
        {
            isProcessMember = true;
        }
    }
    if (isProcessMember)
    {
        <tr>
            <td onclick="location.href = '@(Url.Action("Process",new { id = process.id_processManagment}))'">#@Html.Raw(process.id_processManagment)</td>
            <td onclick="location.href = '@(Url.Action("Process",new { id = process.id_processManagment}))'"><span class="label" style="background-color:@process.state_color; margin-top:5px">@Html.Raw(process.state_name)</span></td>
            <td onclick="location.href = '@(Url.Action("Process",new { id = process.id_processManagment}))'">@Html.Raw(process.name)</td>
            <td onclick="location.href = '@(Url.Action("Process",new { id = process.id_processManagment}))'">
                <div class="progress progress-striped progress-sm" style="margin-bottom:0px; margin-top:10px">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: @completedPorcentage%">
                        <span class="sr-only">
                        </span>
                    </div>
                </div>
            </td>
            <td onclick="location.href = '@(Url.Action("Process",new { id = process.id_processManagment}))'">@Html.Raw(process.categorie_name)</td>
            <td onclick="location.href = '@(Url.Action("Process",new { id = process.id_processManagment}))'">@Html.Raw(process.template_name)</td>
            <td style="width:25%; word-wrap:break-word" onclick="location.href = '@(Url.Action("Process",new { id = process.id_processManagment}))'">
                @for (int iUser = 0; iUser < 5 & iUser < participants.Count; iUser++)
                {
                    string name = participants[iUser].name + " " + participants[iUser].fLastName + " " + participants[iUser].sLastName;
                    string photo = "data:Image/png;base64," + participants[iUser].photoData;
                    <div class="col-md-2 col-xs-6" data-toggle="tooltip" data-placement="top" title="@name">
                        <img alt="image" class="img-circle  img-responsive" src="@photo">
                    </div>
                }
                @if (participants.Count > 5)
                {
                    int plusParticipants = participants.Count - 5;
                    <p style="font-size:20px" data-toggle="tooltip" data-placement="top" title="Más @plusParticipants usuarios">...</p>
                }
            </td>
        </tr>
    }
}


