@model Model.AddTaskModel

<h2>Información General</h2>
<div class="row" style="margin-top:40px;">
    <div class="col-xs-12">
        @using (Ajax.BeginForm("_AddTask", "Tasks", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "TaskAddedSuccess", OnFailure = "TaskAddedFailure" }, new { @class = "form-horizontal", @id = "formGeneralInfo" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id_stage)
            @Html.HiddenFor(model => model.taskPosition)
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.name, new { @class = "form-control", @placeholder = "Nombre de la tarea", @form = "formGeneralInfo" })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Descripción:</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.description, new { @class = "form-control", @placeholder = "Descripción...", @form = "formGeneralInfo", @Rows = "3" })
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Tipo:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.selected_taskType, Model._TaskTypesSelect, new { @class = "form-control", @style = "width:100%", @form = "formGeneralInfo", @onchange = "taskTypeChanged(this)" })
                    @Html.ValidationMessageFor(model => model.selected_taskType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Tiempo:</label>
                <div class="col-sm-1">
                    <select onchange="timeChanged(this)" form="formGeneralInfo" , name="timeSelected">
                        <option selected="selected" value="time">Tiempo</option>
                        <option value="date">Fecha</option>
                    </select>
                </div>
                <div class="col-xs-7">
                    <div class="col-xs-6" id="daysAmountDiv">
                        <label for="inputEmail3" class="col-sm-2 control-label">Dias:</label>
                        <div class="spinbox spinbox-right" id="timeAmountDiv">
                            <div class="spinbox-buttons	btn-group btn-group-vertical ">
                                <button type="button" class="btn spinbox-up success">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn spinbox-down danger">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            @Html.TextBoxFor(model => model.daysAmount, new { @class = "spinbox-input form-control", @form = "formGeneralInfo", @name = "daysAvailable" })
                            @Html.ValidationMessageFor(model => model.daysAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-xs-6" id="hourAmountDiv">
                        <label for="inputEmail3" class="col-sm-2 control-label" style="margin-right:10px">Horas:</label>
                        <div class="spinbox spinbox-right" >
                            <div class="spinbox-buttons	btn-group btn-group-vertical ">
                                <button type="button" class="btn spinbox-up success">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn spinbox-down danger">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            @Html.TextBoxFor(model => model.hoursAmount, new { @class = "spinbox-input form-control", @form = "formGeneralInfo", @name = "hoursAvailable" })
                            @Html.ValidationMessageFor(model => model.hoursAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div style="display:none" id="timeDateDiv">
                        <div class="col-xs-6">
                            <div class="input-group" id="timeDate">
                                @Html.TextBoxFor(model => model.timeDatePicker, new { @class = "form-control date-picker", @form = "formGeneralInfo", data_date_format = "dd-mm-yyyy" })
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.timeDatePicker, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(model => model.timeHour, new { @class = "form-control", @form = "formGeneralInfo", data_mask = "99:99:99", @placeholder = "00:00:00" })
                            @Html.ValidationMessageFor(model => model.timeHour, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-xs-12">
        <p style="text-align:right">
            * La tarea sera creada en este paso
        </p>
    </div>
</div>

