@model Model.CategoriesListModel
<div class="flip-scroll" style="margin-top:20px">
    <table class="table flip-content table-hover" id="categoriedatatable">
        <!-- column titles -->
        <thead class="flip-content bordered-primary">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Creado por</th>
                <th>Fecha</th>
                <th>Habilitado</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table data-->
            @foreach (var categorie in Model.categoriesList)
            {
                string isChecked = categorie.isEnabled == "True" ? "checked" : "";
                <tr>
                    <td onclick="location.href = '@Url.Action("Categorie","Categories",new { id = categorie.id_categorie})'">@Html.Raw(categorie.name)</td>
                    <td onclick="location.href = '@Url.Action("Categorie","Categories",new { id = categorie.id_categorie})'">@Html.Raw(categorie.description)</td>
                    <td onclick="location.href = '@Url.Action("Categorie","Categories",new { id = categorie.id_categorie})'">@Html.Raw(categorie.createdBy_name)</td>
                    <td onclick="location.href = '@Url.Action("Categorie","Categories",new { id = categorie.id_categorie})'">@Html.Raw(categorie.createdDate.Substring(0,10))</td>
                    <td>
                        <div class="checkbox" style="margin:0px">
                            <label style="margin-left:15px">
                                <input type="checkbox" class="colored-success" @Html.Raw(isChecked) />
                                <span class="text"></span>
                            </label>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
