@model Model.GeneralAttributesModel

@foreach (var attributeModel in Model.generalAttributesModel)
{
    string attribute = attributeModel.attributeDTO.name;
    string value = attributeModel.attributeDTO.value;
    string type_name = attributeModel.attributeDTO.type_name;
    string id_type = attributeModel.attributeDTO.type_id;
    string id_attribute = attributeModel.attributeDTO.id_attribute;
    string isChecked = attributeModel.isEnabled ? "checked" : "";
    <tr>
        @using (Ajax.BeginForm("_EditGeneralAttribute", "Categories", new AjaxOptions { HttpMethod = "PUT", OnSuccess = "GeneralAttributeEditSuccess", OnFailure = "GeneralAttributeEditFailure" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => id_attribute)
            @Html.HiddenFor(m => id_type)
        <td style="padding-left:10px;padding-right:50px">
            @Html.TextBoxFor(m => attribute, new { @class = "form-control", @placeholder = "", @style = "min-width:30rem" })
        </td>
        <td style="width:15%;padding-right:50px">
            <label>@Html.Raw(type_name)</label>
        </td>
        <td style="padding-left:10px;padding-right:30px">
            @if (type_name == "Lista")
            {
                string idModal = "#modal_Lists" + id_attribute;
                <a class="btn btn-sky " data-toggle="modal" data-target=@idModal>Ver lista</a>
                <!-- Modal to see lists-->
                {Html.RenderPartial("/Views/Categories/_AttributeValues.cshtml", new Model.AttributesListModel(id_attribute) );}
            }
            else
            {
                @Html.TextBoxFor(m => value, new { @class = "form-control", @placeholder = "", @style = "min-width:40rem" })
            }
        </td>
        <td style="padding-left:30px">
            <div class="form-group">
                <div class="checkbox" style="margin:0px">
                    <label style="margin-left:15px">
                        <input type="checkbox" class="colored-success" @isChecked name="isEnabled" id="isEnabled">
                        <span class="text"></span>
                    </label>
                </div>
            </div>
        </td>
        <td style="width:10%">
            <button class="btn btn-sky btn-sm" style="margin-right:20px" data-toggle="tooltip" data-placement="top" title="Guardar" >
                <span class="glyphicon glyphicon-floppy-saved"></span>
            </button>
            <a class="btn btn-danger btn-sm btn-remove" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="deleteGeneralAttribute('@id_attribute','@attribute',this)">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
        </td>
        }
    </tr>
}